[Desktop Entry]
Version=1.0
Type=Application

Name=Velocirust
Comment=Lightning-fast and powerful code editor written in Rust
Categories=Development;IDE;
GenericName=Code Editor
StartupWMClass=velocirust

Icon=dev.velocirust.velocirust
Exec=velocirust %F
Terminal=false
MimeType=text/plain;inode/directory;
Actions=new-window;

[Desktop Action new-window]
Name=New Window
Exec=velocirust --new %F
Icon=dev.velocirust.velocirust
